__pycache__

*~
*.kate-swp
\#*\#
.\#*

*.nocommit

server/native-c/build/
server/native-c/lib/
server/native-c/release/
server/native-c/user.cfg

manualtest*
!server/native-c/src/manualtest-network.c
!server/native-c/src/manualtest-parser.c
