__pycache__
cmake-build-*
doxygen/out/

*~
*.kate-swp
\#*\#
.\#*
.idea

*.bak

*.nocommit
*.nocommit.*

build/
lib/*
!lib/*.patch
release/
src/_buildinfo.h
src/_dependencies.c
src/_licenses.c
src/_trademarks.c
user.cfg

manualtest*
!src/manualtest-dependencies.c
!src/manualtest-fileio.c
!src/manualtest-licenses.c
!src/manualtest-network.c
!src/manualtest-network-interfaces.c
!src/manualtest-parser.c
!src/manualtest-password-generator.c
!src/manualtest-trademarks.c

# debug output
heaptrack.*
vgcore.*
