__pycache__
cmake-build-*
doxygen/out/

*~
*.kate-swp
\#*\#
.\#*

*.bak

*.nocommit

build/
lib/*
!lib/*.patch
release/
user.cfg

manualtest*
!src/manualtest-fileio.c
!src/manualtest-network.c
!src/manualtest-network-interfaces.c
!src/manualtest-parser.c
!src/manualtest-password-generator.c

# debug output
heaptrack.*
vgcore.*
